a:link {
    color: #D6A300;
}

/* visited link */
a:visited {
    color: #D6A300;
}

/* mouse over link */
a:hover {
    color: #D6A300;
}

/* selected link */
a:active {
    color: #D6A300;
}

.table td {
   text-align: center;  
}

table {
	border-collapse:separate; 
	border-spacing:20px;
}

p.customfont { 
		font-family: "Perfume Classic Demo Version";
		font-size: 100px;
		color: #D6A300;		
}

p.customfont2 {
		font-family: "Times", Serif;
		font-size: 60px;
		color: #D6A300;
}

p.customfont3 {
		font-family: "Times", Serif;
		font-size: 30px;
		color: #000000;
		font-weight: bold;
}

p.customfont4 {
	font-family:"Times", Serif, Regular;
	text-size:30px;
	color: #000000;
	margin-right: auto;
	margin-left: auto;
	max-width: 1600px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	p.customfont {
		font-size: 60px;
	}
	p.customfont2 {
		font-size: 60px;
	}
	p.customfont3 {
		font-size: 30px;
	}
	p.customfont4 {
		font-size: 30px;
		max-width: 1200px
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	p.customfont {
		font-size: 60px;
	}
	p.customfont2 {
		font-size: 60px;
	}
	p.customfont3 {
		font-size: 30px;
	}
	p.customfont4 {
		font-size: 30px;
		max-width: 1000px
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	p.customfont {
		font-size: 50px;
	}
	p.customfont2 {
		font-size: 50px;
	}
	p.customfont3 {
		font-size: 20px;
	}
	p.customfont4 {
		font-size: 20px;
		max-width: 800px
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	p.customfont {
		font-size: 40px;
	}
	p.customfont2 {
		font-size: 40px;
	}
	p.customfont3 {
		font-size: 20px;
	}
	p.customfont4 {
		font-size: 20px;
		max-width: 600px
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	p.customfont {
		font-size: 30px;
	}
	p.customfont2 {
		font-size: 30px;
	}
	p.customfont3 {
		font-size: 20px;
	}
	p.customfont4 {
		font-size: 20px;
		max-width: 400px
	}
}

hr {
  color: #D6A300;
  border-color: #D6A300;
  background-color: #D6A300;
  border: none;
  height: 1px;
}